.tox {
  margin-bottom: 20px;
}

.tox.tox-tinymce {
  border-radius: 20px;
  padding: 5px;
}

.notValid {
  border-color: red;
}

.notValid:focus {
  border-color: red;
}

.error-message {
  margin-bottom: 0;
}
