.tox.tox-tinymce {
  border-radius: 20px;
  padding: 5px;
}

.skeleton {
  opacity: 0.7;
  animation: skeleton-loading 2s linear infinite alternate;
}

.skeleton-text {
  width: 100%;
  height: 1.5em;
  border-radius: 0.125rem;
  margin-bottom: 0.25rem;
}

.skeleton-heading {
  width: 100%;
  height: 4em;
  border-radius: 0.125rem;
  margin-bottom: 0.25rem;
}

.skeleton-text-inline {
  width: 10px;
  height: 15px;
  border-radius: 0.125rem;
  margin-bottom: 0.25rem;
}

.like-dislike-buttons {
  justify-content: space-around;
}

.edit-delete button {
  padding: 2px 24px;
}

.post-title-edit-input {
  width: 100%;
  font-size: 2.5rem;
  border: none;
}

.post-title-edit-input:focus-visible {
  outline: none;
}

.likes {
  color: var(--primary);
}

.dislikes {
  color: var(--danger);
}

@keyframes skeleton-loading {
  0% {
    background-color: hsl(200, 20%, 70%);
  }

  100% {
    background-color: hsl(200, 20%, 95%);
  }
}

@media only screen and (max-width: 500px) {
  .blog-single-wrap .header .post-thumb {
    height: auto;
  }
}

@media only screen and (max-width: 700px) {
  .meta-header {
    margin-top: 10px;
    height: 100px !important;
  }

  .post-author {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .post-author a {
    margin-top: 10px;
    text-align: center;
  }

  .edit-delete {
    margin-left: 1rem;
  }

  .edit-delete button {
    padding: 8px 16px;
  }
}
